doctype html
html
	head
		meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')
		meta(content='IE=edge' http-equiv='X-UA-Compatible')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		title Wen Chao Chin
		link(rel='stylesheet' href='assets/css/font-awesome.min.css')
		link(rel='stylesheet' href='assets/css/bootstrap.min.css')
		link(rel='stylesheet' href='assets/css/animate.min.css')
		link(rel='stylesheet' href='assets/css/lightbox.min.css')
		link(rel='stylesheet' href='assets/css/main.css')
	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='index.html') Wen Chao Chin
				#navbar-collapse.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='#about') About
						li
							a(href='#experience') Experiences
						li
							a(href='#work') Work
						li
							a(href='#contact') Contact
		header#header.header
			.container-fluid
				.headerTitle.text-center
					h1.title.wow.zoomIn(data-wow-duration='1s' data-wow-delay='1s') Wen Chao Chin
					p.description.wow.zoomIn(data-wow-duration='1.5s' data-wow-delay='1s')
						| I'm 
						i.sub
			#mbp
				img(src='assets/images/mbp.png' alt='')
			.canvas-background
				.stalker
					.grad1
					.grad2
			#particles-js
		section#about.about
			.container
				.row
					.col-md-12
						.col-md-3.wow.zoomIn(data-wow-delay='0.5s' data-wow-duration='1s')
							.me-image.text-center
								img.img-circle.img-responsive(src='assets/images/aboutme.jpg' alt='')
						.col-md-9.wow.zoomIn(data-wow-delay='0.5s' data-wow-duration='1s')
							.about-me-text
								h2.section-title My Stories / 我的簡歷
								p
									| 我是一位設計師，專注於UI設計與互動設計，與使用者做良好的的互動設計，曾經專長Flash 程式設計，因次世代的網路變遷，轉換成前端設計師，目前使用前端框架 VueJS ＆ ReactJS來作為專案的基底，與多種API互相搭配，有任何新的事物都很有興趣接觸研究，職場上樂於與同事一同研究新事物。
				.row
					.col-sm-6.col-md-5.wow.zoomIn(data-wow-delay='0.5s' data-wow-duration='1.5s')
						.about-info
							h3.section-title Personal Information
							ul
								li
									span name:
									| Wen Chao Chin / 溫朝欽
								li
									span ncikname:
									| Batman33
								li
									span Birthday:
									| October 2, 1978
								li
									span phone:
									| +886 920 910 786
								li
									span email:
									| wenbatman33@gmail.com
					.col-sm-6.col-md-offset-1.wow.zoomIn(data-wow-delay='0.5s' data-wow-duration='1.5s')
						.skill-area
							h3.section-title My Skills
							.progress
								.progress-bar(role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width:75%')
									| VueJS
							.progress
								.progress-bar(role='progressbar' aria-valuenow='95' aria-valuemin='0' aria-valuemax='100' style='width:90%')
									| html5
							.progress
								.progress-bar(role='progressbar' aria-valuenow='95' aria-valuemin='0' aria-valuemax='100' style='width:90%')
									| css3
							.progress
								.progress-bar(role='progressbar' aria-valuenow='70' aria-valuemin='0' aria-valuemax='100' style='width:75%')
									| ReactJS
							.progress
								.progress-bar(role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width:90%')
									| Jquery
							.progress
								.progress-bar(role='progressbar' aria-valuenow='90' aria-valuemin='0' aria-valuemax='100' style='width:100%')
									| PhotoShop / Sketch
		section#experience.experience
			.container
				h2.section-title.text-center.wow.zoomIn(data-wow-duration='1s') Work Experiences
				p.lead.text-center.wow.zoomIn(data-wow-duration='1.5s')
				.timeline
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') 艾西斯資訊有限公司
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Frontend Engineer Lead
							.time 2018/04 - Present
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p 線上娛樂平台，體育直播，體育娛樂平台 
							ul
								li 前端開發程式設計
								li 線上課程 UI介面設計
								li socketIO 前置規劃
								li webRTC串接
								li 管理團隊專案進度
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') Viscovery 創意引晴股份有限公司
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Frontend Engineer
							.time 2017/03 - 2018/04
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p Viscovery 是視覺辨識先驅者，在這能與許多演算法大師們工作，能夠激盪出很多出創意
							ul
								li 前端開發程式設計
								li 產品POC demo
								li 實驗性產品開發
								li web API串接
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') TutorABC
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Creative Lead
							.time 2015/12 - Present
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p TutorABC是線上教育集團，目前在Research團隊任職，帶領Creative 的設計師們一起開發公司的產品設計
							ul
								li 前端開發程式設計
								li 線上課程 UI介面設計
								li VR / AR 前置規劃
								li web API串接
								li 管理設計團隊專案進度
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') 新加坡商優達斯國際有限公司台灣分公司
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Founder & Lead UI designer
							.time 2014 - 2015
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p 曾任職優達斯 ASAP電商為主體的分公司金舷文創股份有限公司，任職前端UI設計經理，公司專注電商產業與電子書營運平台
							ul
								li 前端開發程式設計
								li UI前端閱讀介面設計
								li 電子書銷售平台建置
								li API串接
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') TutorABC
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Webmaster
							.time 2013 - 2014
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p TutorABC是線上教育集團，曾在Webmaster團隊任職，負責官網營運設計與各式活動頁面設計。
							ul
								li 前端開發程式設計
								li 官網建置更新
								li 活動專案更新
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') 95inhouse
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Senior UI Designer
							.time 2010 - 2013
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p
								| 95inhous 是一間設計專案公司，曾與華碩、和碩、Zyxel，美侖飯店，台灣房屋....等公司的專案合作，多媒體影音，網頁設計為主要的項目，曾獲多項if、網路金手指獎項等獎項，是個創意活力充足的團隊公司。
							ul
								li 前端開發程式設計
								li 官網建置更新
								li 活動專案更新
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') 摩達網 MagV
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Flash Developer
							.time 2007 - 2010
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p
								| 曾在業界成立首家電子書的出版廠商，與中華電信與Samsung和異業結合，每月均有十萬用戶的的會員數，在此公司任職Flash 程式開發設計師，建置公司官網，電子書閱讀裝置UI設計，帶領設計師團隊。
							ul
								li 前端開發程式設計
								li 官網建置更新
								li 電子書平台建置
								li Flash 程式開發
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') 日本學研社ADMAGA
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Tokyo
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Flash Developer
							.time 2007
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p 與日本學研社成立的ADMAGA子會社，專案配合性質，短期在日本當地進行專案配合，執行電子書平台的組件配合。
							ul
								li 電子書平台建置
								li Flash 程式開發
								li Flash 元件製作
					.item
						.work-place
							h3.place.wow.zoomIn(data-wow-duration='1s') 飛行網(原Kuro音樂下載平台)
							.location.wow.zoomIn(data-wow-duration='1s')
								i.fa.fa-map-marker(aria-hidden='true')
								| Taipei
						.job-meta.wow.zoomIn(data-wow-duration='1s')
							.title Senior Designer
							.time 2003 - 2006
						.job-desc.wow.zoomIn(data-wow-duration='1s')
							p 2000年初期最大的線上音樂廠商，擁有50萬的會員數，任職為資深設計師。其中負責線上酷樂誌的開發和音樂線上明星專頁的設計規劃。
							ul
								li 前端開發程式設計
								li 官網建置更新
								li 電子書平台建置
								li Flash 程式開發
		section#work.work
			.container
				h2.section-title.text-center.wow.zoomIn(data-wow-duration='1s') Portfolio
				.work-inner
					.row.work-posts.grid
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_018.png' alt='')
							a(href='https://youtu.be/OQG40RQbPxE' target='_blank')
								.work-caption
									h4 TutorABC Virtual Classroom Demo 
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_019.png' alt='')
							a(href='https://youtu.be/lZp3lvDmKlc' target='_blank')
								.work-caption
									h4 TutorVR
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_004.png' alt='')
							a(href='https://wenbatman33.github.io/3DEarthData/' target='_blank')
								.work-caption
									h4 3D Earth Data
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_005.png' alt='')
							a(href='https://wenbatman33.github.io/TM_plus_Meeting/' target='_blank')
								.work-caption
									h4 Web Meeting
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_006.png' alt='')
							a(href='https://wenbatman33.github.io/TM_plus/' target='_blank')
								.work-caption
									h4 TM Plus
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_007.png' alt='')
							a(href='https://wenbatman33.github.io/dashboard/' target='_blank')
								.work-caption
									h4 Dashboard
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_021.png' alt='')
							a(href='assets/images/flow/app_poratl_uiflow.jpg' target='_blank')
								.work-caption
									h4 App Protal UrI Flow
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_008.png' alt='')
							a(href='http://www.tutorabc.com/OfficialSite/zh-TW/learningapp' target='_blank')
								.work-caption
									h4 App Protal
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_020.png' alt='')
							a(href='assets/images/flow/bestbook_userflow.jpg' target='_blank')
								.work-caption
									h4 Best Books User Flow
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_010.png' alt='')
							a(href='https://wenbatman33.github.io/myResume/project/bestbook_old/front/index.html' target='_blank')
								.work-caption
									h4 Best Books old version
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_009.png' alt='')
							a(href='http://wenbatman33.github.io/bestbook/html/index.html' target='_blank')
								.work-caption
									h4 Best Books
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_011.png' alt='')
							a(href='https://wenbatman33.github.io/myResume/project/TutorABC/index.html' target='_blank')
								.work-caption
									h4 TutorABC
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_000.png' alt='')
							a(href='https://wenbatman33.github.io/myResume/project/pega/index.html' target='_blank')
								.work-caption
									h4 PEGA Design
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_001.png' alt='')
							a(href='https://wenbatman33.github.io/ParkTaipei/' target='_blank')
								.work-caption
									h4 ParkTaipei
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_002.png' alt='')
							a(href='https://wenbatman33.github.io/AsusODD/' target='_blank')
								.work-caption
									h4 AsusODD
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_003.png' alt='')
							a(href='https://wenbatman33.github.io/SpringHotel/' target='_blank')
								.work-caption
									h4 SpringHotel
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_012.png' alt='')
							a(href='https://wenbatman33.github.io/myResume/project/usj/index.html' target='_blank')
								.work-caption
									h4 USJ Park
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_013.png' alt='')
							a(href='https://wenbatman33.github.io/myResume/project/twhg/index.html' target='_blank')
								.work-caption
									h4 台灣房屋
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_014.png' alt='')
							a(href='https://wenbatman33.github.io/myResume/project/miele/index.html' target='_blank')
								.work-caption
									h4 Miele
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_015.png' alt='')
							a(href='http://www.lp-support.com/footcare_insoles/index.php' target='_blank')
								.work-caption
									h4 LP Support
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_016.png' alt='')
							a(href='http://www.books.com.tw/activity/top/top100/100plus/index.html' target='_blank')
								.work-caption
									h4 books.com
						.col-md-4.col-sm-4.item.zoomIn(data-wow-duration='1s' data-wow-delay='0.1')
							img(src='assets/images/portfolio/list_017.png' alt='')
							a(href='http://xjstudio.com/news.html' target='_blank')
								.work-caption
									h4 xjstudio.com
		section#service.service
			.container
				h2.section-title.text-center.wow.zoomIn(data-wow-duration='1s') Award
				.row
					.col-sm-4.wow.zoomIn(data-wow-delay='0.1s' data-wow-duration='1s')
						.service-item
							i.fa.fa-trophy
							.service-detail
								h4 2011 網路金手指獎 獲獎
								p
									| 網路金手指獎年度最佳企業獎
									br
									|  網路金手指獎年度最佳網站獎
					.col-sm-4.wow.zoomIn(data-wow-delay='0.2s' data-wow-duration='1s')
						.service-item
							i.fa.fa-trophy
							.service-detail
								h4 2010 網路金手指獎 入圍
								p 大阪環球影城網站
					.col-sm-4.wow.zoomIn(data-wow-delay='0.3s' data-wow-duration='1s')
						.service-item
							i.fa.fa-trophy
							.service-detail
								h4 2009 網路金手指獎 入圍
								p
									| 華碩ROG玩家及主機板網站
									br
									|  PEGA Design
		section#contact.contact
			.container
				.row.text-center
					h2.section-title Contact Me
					p.lead 希望在未來的日子有機會和你一起合作
					p
						| 若有任何合作的機會，請與我聯絡，
						br
						|  E-mail:
						a(href='mailto:wenbatman33@gmail.com') wenbatman33@gmail.com
						br
						|  github:
						a(href='https://github.com/wenbatman33?tab=repositories') github Link
						br
						|  TEL: +886 920 910 786
						br
		footer#main-footer.footer
			.container
				ul.social-links.text-center
					li.wow.zoomIn(data-wow-delay='0.2s' data-wow-duration='1s')
						a(href='https://www.facebook.com/wenbatman33')
							i.fa.fa-facebook.fa-fw
				p.text-center © 2017 Wenbatman33
		script(type='text/javascript' src='assets/js/jquery.min.js')
		script(type='text/javascript' src='assets/js/bootstrap.min.js')
		script(type='text/javascript' src='assets/js/jquery.easing.min.js')
		script(type='text/javascript' src='assets/js/jquery.backstretch.min.js')
		script(type='text/javascript' src='assets/js/lightbox.min.js')
		script(type='text/javascript' src='assets/js/isotope.pkgd.min.js')
		script(type='text/javascript' src='assets/js/typed.min.js')
		script(type='text/javascript' src='assets/js/jqBootstrapValidation.min.js')
		script(type='text/javascript' src='assets/js/contact-form.min.js')
		script(type='text/javascript' src='assets/js/particles.js')
		script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC78BqGz3RxRwBrvnPAvaVreliBTgKBlgc')
		script(type='text/javascript' src='assets/js/custom.js')
